html,
body {
    height: 100%;
    background-color: silver;
}


/* * {
    border: 2px solid red;
} */

main {
    flex: 1 0 auto;
}

#navbarHeader {
    background-color: #00205B;
}

.nav-link {
    color: #f0ad4e !important;
}

table {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, .5);
    margin-bottom: 10px;
}

td {
    text-align: center;
}

@media only screen and (max-width: 1026px) {
    #weeklyGames {
        display: none;
    }
    #weeklyGamesMobile {
        display: block;
    }
}

@media only screen and (min-width: 1026px) {
    #weeklyGamesMobile {
        display: block;
    }
    #weeklyGamesMobile {
        display: none;
    }
}