html,
body {
    height: 100%;
    background-color: silver;
}


/* * {
    border: 2px solid red;
} */

section {
    flex: 1 0 auto;
}

#navbarHeader {
    background-color: #00205B;
}

.nav-link {
    color: #f0ad4e !important;
}

a.nav-link:hover {
    background-color: silver;
    color: black !important;
    border-width: 1px;
    border-style: transparent;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, .5);
}

.btnBorder {
    border-right: 5px solid #df4759;
}

.tableBtn {
    background-color: #00205B;
    color: #f0ad4e;
    padding-left: 8px;
    padding-right: 8px;
    border-style: transparent;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}

.tableHidden {
    display: none;
}

.recHeader {
    color: #00205B;
}

table {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, .5);
    margin-bottom: 10px;
}

thead {
    text-align: center;
}

thead.recHeader {
    color: #df4759;
    border-color: yellow;
}

td {
    text-align: center;
}

@media only screen and (min-width: 992px) {
    #skatersTableMobile {
        display: none;
    }
    #goaliesTableMobile {
        display: none;
    }
    #scheduleTableMobile {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    /* #skatersTable {
        display: none;
    } */
    td:nth-child(3),
    th:nth-child(3),
    td:nth-child(n+9),
    th:nth-child(n+9) {
        display: none;
    }
    #goaliesTable {
        display: none;
    }
    #scheduleTable {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .btnBorder {
        border-right: 0px;
        padding-top: 3px;
        padding-bottom: 3px;
    }
}