html,
body {
    height: 100%;
}

* {
    border: 2px solid red;
}

main {
    flex: 1 0 auto;
}


/* Other Classes for Page Styling */


/* .nav-link { # Custom text color on the navbar
    color: grey !important;
} */